{% extends "base.html" %}
{% block title %}Войти{% endblock %}

{% if message  %}
    <div class="alert" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}

{% block content %}
        <div class="login-main">
            <form action="" method="POST">
                <div class="form-group">
                    <label for="InputEmail">Электронная почта</label>
                    <input name="email" class="input-form" id="InputEmail" placeholder="mail@mail.com">
                </div>
                <div class="form-group">
                    <label for="InputPassword">Пароль</label>
                    <input type="password" name="password" class="input-form" id="InputPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn">Подтвердить</button>
            </form>
        </div>
{% endblock %}