{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <div class="profile-main">
        <div class="pfp">
            <img class="icon" id="profile-icon" src="{{ url_for('static',filename='images/profile.svg') }}" alt="">
        </div>
        <div class="profile-description">
            <p class="description-small">Имя</p>
            <p>{{ operator.firstname }} {{ operator.lastname }}</p>
            <p class="description-small">Должность </p>
            <p>{{ operator.title }}</p>
        </div>
        <button class="btn" id="exit">Выйти из профиля</button>
    </div>
{% endblock %}