{% extends "base.html" %}

{% block title %}Продажи{% endblock %}

{% block content %}
    <button class="new-sell" id="new">
        <img class="icon" id="add-new-icon" src="{{ url_for('static',filename='images/add-circle.svg') }}" alt="">
    </button>
    {% for sell in sells %}
        <div class="sell">
            <div class="sell-info">
                <p class="description-small"> Товар </p>
                <p> {{ sell.item }}</p>
                <p class="description-small"> Статус </p>
                <p> {{ sell.status }}</p>
                <p class="description-small"> Оператор </p>
                <p> {{ sell.firstname_seller }} {{ sell.lastname_seller }} </p>
                <p class="description-small"> {{ sell.date_created }} </p>
            </div>
            <div class="sell-operations">
                <a href="{{ url_for('delete_selling', db_item_id = sell._id) }}" class="delete">
                    <img src="{{ url_for('static',filename='images/trash-bin.svg')}}" class="icon" id="delete-icon" alt="">
                </a>
                {% if not sell.status == "Закрыт" %}
                    <a href="{{ url_for('edit_selling', db_item_id = sell._id) }}" class="edit">
                        <img src="{{ url_for('static',filename='images/edit.svg')}}" class="icon" id="edit-icon" alt="">
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}